:root{
    font-size: 24px;
    font-weight: 700;
    color: rgb(133, 86, 227);
}


* {
    box-sizing: border-box; 
    max-width: 100%;        
}


html, body {
    margin: 0;
    padding: 0;
    width: 1400px;
    overflow-x: hidden;     
    background-color: violet !important;
    word-wrap: break-word;   
    overflow-wrap: break-word; 
}

#root {
    width: 1400px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}



.bg-root{
  width: 100%;

  background-image: url("background2_url");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
  background-color: yellowgreen;
  text-align: center;

}

#avatar{
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.avatar{
  width: 30%;
  border-radius: 18px;
}

.background{
    display: block;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
} 

