header{
    padding-top: 40px;
    font-size: 36px;
    color: rgb(156, 154, 255);
    font-weight: 700;
}

h1{
    margin: 0;
}


.intro{
    text-align: left;
    margin-left: 100px;
    margin-top: 70px;
    color: rgba(156, 154, 255);
    font-weight: 1000;
}

.content{
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 16px;
  padding: 40px;
}



.item{
    background-color:rgb(255, 218, 241);

    border-radius: 36px;
    flex: 0 0 auto; 
    width: 350px;
    padding: 40px 20px; 
    place-items: center;


}

.intro{
  grid-column: 1 / -1; 
  margin-bottom: 20px;
}



.char_pic_part{
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 37.5px;
}

.char_pic{
    width: 80%;
    height: 80%;
    object-fit: contain;
}