<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <style>
    /* style */
  </style>



</head>


<body>
  <div id="root">
      <div class='block'>
      </div>
      <header>
        <div id="avatar">
          <img class="avatar" src="avatar_url" alt="图片加载失败">
        </div>
        <h2>{{ title }}</h2>
      </header>
      <main>
        <div class="intro">
          {{ intro }}
        </div>
      </main>
  </div>
</body>

</html>